
<div id="admin_list">
    <ul>
        <li><a href="/admin/index">会员管理</a></li>
        <li><a href="/admin/index/formcategory">添加分类</a></li>
        <li><a href="/admin/index/managergoods">商品管理</a></li>
        <li><a href="/admin/index/formgoods">添加商品</a></li>
        <li><a href="/admin/index/buHuo">商品修改</a></li>
        <li><a href="/admin/index/managerorder">订单管理</a></li>
        <li><a href="/admin/index/set">修改密码</a></li>
        <li><a href="/admin/index/message">站内消息</a></li>
        <li><a href="/admin/index/myConfig">系统配置</a></li>
    </ul>
</div>