<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/loginstyle.css">
</head>
<body>
<div class="dowebok">

    {switch number|default=1}
    {case 1}
    <form action="/index/LoginRegister/BackPassword" method="post">
        <h2 style="margin-top: 50px;">找回密码界面</h2>
        <label style="margin-top: 100px;">
            <span style="font-size: 15px;line-height: 50px;">请输入你要找回密码的账号</span>
            <input type="text" name="userId">
        </label>
        <label>
            <a href="/index/LoginRegister">返回输入密码</a>
        </label>
        <label style="margin-top: 20px;">
            <button type="submit" class="submit" value="确定">确定</button>
        </label>
        <h3 style="color: red;text-align: center;">{$errormessage1|default=''}</h3>
    </form>
    {/case}
    {case 2}
    <form action="/index/LoginRegister/AltPassword" method="post">
        <h2 style="margin-top: 50px;">找回密码界面</h2>
        <label>
            <span style="font-size: 15px;">账号</span>
            <input type="text" name="userid" readonly="true" value={$userID|default=''}>
        </label>
        <label>
            <span>找回密码问题:</span>
            <input type="text" value={$question|default=''}>
        </label>
        <label>
            <span>找回密码答案:</span>
            <input type="text" name="answer" placeholder="请输入你的回答"><br>
        </label>
        <label>
            <span>设置的新密码:</span>
            <input type="password" name="newpw" placeholder="请输入新密码"><br>
        </label>
        <h3 style="color: red;text-align: center;">{$errormessage1|default=''}</h3>
        <h3 style="color: cornflowerblue;text-align: center;">{$errormessage2|default=''}</h3>
        <label>
            <a href="/index/LoginRegister">返回输入密码</a>
            <button style="margin-top: 20px" type="submit" class="submit" value="确定">确定</button>
        </label>
    </form>
    {/case}
    {/switch}
</div>
</body>
</html>