<div id="top">
<!--轮播图-->
<div class="wrap">
    <div class="nav">
        <ul>
            <li class="p1">
                <a href="http://www.test.com/index/index/get/row/4/col/0#main"><img src="/static/img/轮播图片/t6.jpg" alt=""></a>
            </li>
            <li class="p2">
                <a href="http://www.test.com/index/index/get/row/0/col/0#main"><img src="/static/img/轮播图片/t7.jpg" alt=""></a>
            </li>
            <li class="p3">
                <a href="http://www.test.com/index/index/get/row/0/col/1#main"><img src="/static/img/轮播图片/t8.jpg" alt=""></a>
            </li>
            <li class="p4">
                <a href="http://www.test.com/index/index/get/row/2/col/0#main"><img src="/static/img/轮播图片/t1.jpg" alt=""></a>
            </li>
            <li class="p5">
                <a href="http://www.test.com/index/index/get/row/3/col/0#main"><img src="/static/img/轮播图片/t2.jpg" alt=""></a>
            </li>
            <li class="p6">
                <a href="http://www.test.com/index/index/get/row/2/col/0#main"><img src="/static/img/轮播图片/t3.jpg" alt=""></a>
            </li>
            <li class="p7">
                <a href="http://www.test.com/index/index/get/row/2/col/0#main"><img src="/static/img/轮播图片/t4.jpg" alt=""></a>
            </li>
            <li class="p8">
                <a href="http://www.test.com/index/index/get/row/4/col/2#main"><img src="/static/img/轮播图片/t5.jpg" alt=""></a>
            </li>
        </ul>
    </div>
    <button type="button" class="btn" id="goPre"><</button>
    <button type="button" class="btn" id="goNext">></button>
    <ul class="pointList">
        <li class="point active" data-index='0'></li>
        <li class="point" data-index='1'></li>
        <li class="point" data-index='2'></li>
        <li class="point" data-index='3'></li>
        <li class="point" data-index='4'></li>
        <li class="point" data-index='5'></li>
        <li class="point" data-index='6'></li>
        <li class="point" data-index='7'></li>
    </ul>
</div>
<!--轮播图结束-->
</div>
<div style="height: 450px;"></div>